* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

h3 {
    font-weight: bold;
    margin-left: 12px;
}

table, th, td, tr {
    border: black 1px solid;
    width: auto;
    margin-left: 12px;
}

a {
    text-decoration: none;
}

img {
    width: 25%;
    border: black 1px solid;

}

li {
    margin-bottom: 12px;
    margin-left: 12px;
}

button {
    width: 150px;
    height: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
}

#t_estados {
    text-align: center;
}

#t_estados {
    font-size: 10px;
}

#margin {
    margin-left: 12px;
}